<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/apply.css">
    <title>Document</title>
</head>
<body>

    <style>
        body {
            margin: 0;
        }
    </style>

    <%- include('./partials/nav.ejs') %>

    <form action="/apply/<%= jobInfo.job_id %>" method="POST" class="job-application">
        <h1><%= jobInfo.job_name %> Application</h1>
        <div class="job-question-container">
            <label for="question-1">1. <%= jobInfo.question_1 %></label>
            <select name="questionOne" id="question-1" class="question">
                <option value="good-answer" class="question-response" id="good-answer-1">I have a lot of experience</option>
                <option value="standard-answer" class="question-response" id="standard-answer-1">I have some experience</option>
                <option value="bad-answer" class="question-response" id="bad-answer-1">I have no experience</option>
            </select>
        </div>
        

        <div class="job-question-container">
            <label for="question-2">2. <%= jobInfo.question_2 %></label>
            <select name="questionTwo" id="question-2" class="question">
                <option value="good-answer" class="question-response" id="good-answer-2">I am available anytime</option>
                <option value="standard-answer" class="question-response" id="standard-answer-2">I am available sometimes</option>
                <option value="bad-answer" class="question-response" id="bad-answer-2">I am rarely available</option>
            </select>
        </div>

        <div class="job-question-container">
            <label for="question-3">3. <%= jobInfo.question_3 %></label>
            <select name="questionThree" id="question-3" class="question">
                <option value="good-answer" class="question-response" id="good-answer-3">I am fully dedicated to learning a new work system</option>
                <option value="standard-answer" class="question-response" id="standard-answer-3">I am somewhat prepared to learn a new work system</option>
                <option value="bad-answer" class="question-response" id="bad-answer-3">I am reluctant to learn a new work system</option>
            </select>
        </div>



        <button class="apply-button">Submit Application</button>
    </form>

            <script src="../scripts/apply.js"></script>
</body>
</html>