<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/work.css">
    <link rel="stylesheet" href="../styles/prompt.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <style>
        body {
            background-image: url(../images/counselor.jpg);
        }
    </style>

    

    <form class="work-form" action="/work/:job_id" method="POST">

        <div class="work-description">
            <p><%= jobInfo.salary %> / hour</p>
            <p><%= jobInfo.shift %> hour shift</p>
        </div>
        
        <div class="work-button-container">
            <button class="work-button-prev" type="button"><i class="fa-solid fa-caret-left"></i></button>
            <button class="work-button-next" type="button"><i class="fa-solid fa-caret-right"></i></button>
        </div>
        
        <div class="finish-work-prompt">
            <div class="x-symbol-container"><i class="fa-solid fa-circle-xmark" id="x-symbol"></i></div>
            <p>Compensated $<%= jobInfo.salary * jobInfo.shift %></p>
            <button class="finish-work-button" name="<%= jobInfo.shift %>" value="<%= jobInfo.salary %>">Back to Jobs</button>
        </div>

        <div class="work-paragraph" id="paragraph-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis soluta iusto nesciunt provident voluptate. Aut quia, distinctio, nisi magni necessitatibus velit corrupti ducimus laudantium, fugit obcaecati in omnis. Saepe, odio?
         Provident magnam, dolor porro molestias, perspiciatis vero quisquam eius quia iure vel similique possimus laudantium debitis corporis magni aliquam alias. Molestias vero magnam alias, distinctio iusto voluptate. Quia, aliquid voluptates!
        Numquam velit culpa, ratione beatae consectetur dignissimos ab sapiente amet. Neque laborum, nobis sapiente ut repellendus, ipsum quibusdam modi, saepe pariatur repellat commodi perspiciatis quod in eius? Sint, totam harum.
         </div>

        <div class="work-paragraph" id="paragraph-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis soluta iusto nesciunt provident voluptate. Aut quia, distinctio, nisi magni necessitatibus velit corrupti ducimus laudantium, fugit obcaecati in omnis. Saepe, odio?
        Provident magnam, dolor porro molestias, perspiciatis vero quisquam eius quia iure vel similique possimus laudantium debitis corporis magni aliquam alias. Molestias vero magnam alias, distinctio iusto voluptate. Quia, aliquid voluptates!
        Numquam velit culpa, ratione beatae consectetur dignissimos ab sapiente amet. Neque laborum, nobis sapiente ut repellendus, ipsum quibusdam modi, saepe pariatur repellat commodi perspiciatis quod in eius? Sint, totam harum.
        </div>


        <div class="work-paragraph" id="paragraph-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis soluta iusto nesciunt provident voluptate. Aut quia, distinctio, nisi magni necessitatibus velit corrupti ducimus laudantium, fugit obcaecati in omnis. Saepe, odio?
            Provident magnam, dolor porro molestias, perspiciatis vero quisquam eius quia iure vel similique possimus laudantium debitis corporis magni aliquam alias. Molestias vero magnam alias, distinctio iusto voluptate. Quia, aliquid voluptates!
            Numquam velit culpa, ratione beatae consectetur dignissimos ab sapiente amet. Neque laborum, nobis sapiente ut repellendus, ipsum quibusdam modi, saepe pariatur repellat commodi perspiciatis quod in eius? Sint, totam harum.
        </div>

        <button type="button" class="next-button" disabled>Finish Shift</button>

    </form>

    <script src="../scripts/work.js"></script>
</body>
</html>