<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../styles/home.css">
</head>
<body>

    <style>
        body {
    margin: 0;
    border: 2px solid black;
    }

    </style>

    <%- include('partials/nav.ejs') %>

    <h1 class="home-header">Hello <%= user.first_name %></h1>

    <p class="number">200</p>


<!--     
    <script>
        let number = document.querySelector('.number');
        let convertToNum = parseInt(number.innerHTML);

        setTimeout(() => {
            number.style.transition = 'transform 0.5s ease';
            number.style.transform = 'scaleX(3)';
            number.style.transform = 'scaleY(3)';
        },50)
        
       
            setInterval(() => {
                number.innerHTML = convertToNum++;
                
            },400)

        </script> -->

    <div class="home-container">
        
        <div class="money-on-hand">
            <p>Money on Hand: <%= user.money_on_hand %></p>
        </div>

        <div class="banking-info-container">
            <div class="bank-account-container">
                <div class="bank-account-section" id="bank-account-title">
                    <h1>Bank Account</h1>
                </div>
                <div class="bank-account-section">
                    <span class="account-name">Chequing</span>
                    <span class="account-money">$<%= user.chequing %>.00</span>
                </div>
                <div class="bank-account-section">
                    <span class="account-name">Savings</span>
                    <span class="account-money">$<%= user.savings %>.00</span>
                </div>
                <div class="bank-account-section">
                    <span class="account-name">Total</span>
                    <span class="account-money">$<%= user.chequing + user.savings %>.00</span>
                </div>
                
            </div>

            <div class="bank-card">
    
            </div>
        </div>
    </div>
    


</body>
</html>