<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/jobs.css">
</head>
<body>

    <%- include('partials/nav.ejs') %>

    <style>
        body {
    margin: 0;
    }

    </style>
    

    <div class="jobs-container">
        <% for (let job of getJobs) { %>
            <div class="job">
                <header class="job-header">
                    <div>
                        <span><%= job.job_name %>: </span>
                        <span><%= job.salary %>/hour</span>
                    </div>
                </header>
                <article class="job-body">
                    <% if (job.hired) { %>
                        <span class="job-status-hired">Job Status: Hired</span>
                    <% } else { %>
                        <span class="job-status-not-hired">Job Status: Not Hired</span>
                    <% } %> 
                    <p><%= job.job_description %></p>
                </article>
                <div class="job-footer">
                <% if (!job.apply) { %>
                    <button class="apply-button" id="disabled-button" disabled>Apply</button>
                    <a href="/work/<%=job.job_id%>"><button class='work-button'>Work</button></a>
                    <form action="/jobs" method="POST">
                        <a href="/jobs"><button class='quit-button' type="submit" name="<%= job.job_id %>" value="<%= job.job_name %>">Quit</button></a>
                    </form>
                <% } else { %>
                    <a href="/apply/<%= job.job_id %>"><button class='apply-button'>Apply</button></a>
                    <button class='work-button' id="disabled-button" disabled>Work</button>
                <% } %>
                </div>
            </div>
        <% } %>
        
        </div>
      

</body>
</html>