<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/bankingOptions.css">
</head>
<body>

    <%- include('partials/nav.ejs') %>

    
    <form action="/transfer" method="POST">
        <label for="first-account">Transfer From:</label>
        <select name="from" id="first-account" required>
            <option value="chequing">Chequing (<%= user.chequing %>)</option>
            <option value="savings">Saving (<%= user.savings %>)</option>
        </select>
        <label for="second-account">To:</label>
        <select name="to" id="second-account" required>
            <option value="chequing">Chequing (<%= user.chequing %>)</option>
            <option value="savings">Saving (<%= user.savings %>)</option>
        </select>
        <label for="amount">Amount:</label>
        <input type="text" name="amount" id="amount" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>